*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}

body{
    background-image: url('./ICSI_418Y_Website_background_design.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-size: 50% 100%;
    }
.gamelist{
    list-style-type: none;
}